<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head"></head>
<body class="bg-light">
<div th:replace="fragment::navigation-bar"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <svg th:if="${#strings.isEmpty(member.profile.image)}" class="img-fluid float-start rounded img-thumbnail"
                 th:data-jdenticon-value="${member.nickname}" width="125" height="125"></svg>
            <svg th:if="${!#strings.isEmpty(member.profile.image)}" class="img-fluid float-start rounded img-thumbnail"
                 th:src="${member.profile.image}" width="125" height="125"></svg>
        </div>
        <div class="col-8">
            <h1 class="display-4" th:text="${member.nickname}">Nickname</h1>

            <p class="lead" th:if="${!#strings.isEmpty(member.profile.getBio())}" th:text="${member.profile.getBio()}">bio</p>
            <p class="lead" th:if="${#strings.isEmpty(member.profile.bio) && isOwner}">한줄 소개</p>
        </div>

        <div class="row mt-3 justify-content-center">
            <div class="col-2">
                <div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-intro-tab" data-bs-toggle="pill" href="#v-pills-profile"
                       role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</a>
                    <a class="nav-link" id="v-pills-favorite-tab" data-bs-toggle="pill" href="#v-pills-favorite" role="tab"
                       aria-controls="v-pills-favorite" aria-selected="false">Favorite</a>
                </div>
            </div>

            <div class="col-8">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <p th:if="${!#strings.isEmpty(member.profile.url)}">
                            <span style="...">
                                <i class="fa fa-user-o col-1" aria-hidden="true"></i>
                            </span>
                            <span th:text="${member.profile.url}" class="col-11"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(member.profile.job)}">
                            <span style="...">
                                <i class="fa fa-briefcase col-1"></i>
                            </span>
                            <span th:text="${member.profile.job}" class="col-9"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(member.profile.favorite)}">
                            <span style="...">
                                <i class="fa fa-heart col-1"></i>
                            </span>
                            <span th:text="${member.profile.favorite}" class="col-9"></span>
                        </p>
                        <p th:if="${isOwner}">
                            <span style="font-size: 20px">
                                <i class="fa fa-envelope-o col-1"></i>
                            </span>
                            <span th:text="${member.email}" class="col-9"></span>
                        </p>
                        <p th:if="${isOwner || member.valid}">
                            <span style="...">
                                <i class="fa fa-calendar-o col-1"></i>
                            </span>
                            <span th:if="${isOwner && !member.valid}" class="col-9">
                                <a href="#"
                                   th:href="@{'/check-email?email=' + ${member.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                            </span>
                            <span th:text="${#temporals.format(member.joinedDate, 'yyyy년 MM월 dd일 가입')}" class="col-9"></span>
                        </p>
                        <div th:if="${isOwner}">
                            <a class="btn btn-outline-dark" href="#" th:href="@{/settings/profile}">프로필 수정</a>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-favorite" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        Favorite Tab
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>