<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::head"></head>
<body class="bg-light">
<div th:replace="fragment::navigation-bar"></div>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragment::setting-menu (currentMenu='favorite')"></div>
        </div>

        <div class="col-8">
<!--            <div th:if="${success_message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">-->
<!--                <span th:text="${success_message}">관심 주제</span>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
            <h2 class="col-sm-12">관심 주제</h2>
            </div>



        </div>

    </div>
</div>

</body>
</html>