<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>BookTrace</title>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"/>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }
        .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
            background-color: #2c3034;
        }
        #v-pills-profile > p > span > a {
            color: #084298;
            text-decoration-line: none;
        }
        .nav-link {
            color: #2c3034;
        }
    </style>
</head>

<footer th:fragment="footer">
    <div class="d-flex justify-content-center">
        <img class="mb-2" src="/images/logo.png" alt="book_trace" width="23" height="23">
        <small class="d-block mb-3 text-muted justify-content-center">BookTrace &copy; 2022</small>
    </div>
</footer>

<nav th:fragment="navigation-bar" class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand"
       th:href="@{/}"
       href="/">
        <img src="/images/logo.png" width="30" height="30" alt="book_trace" style="margin-left: 10px">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-start">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link btn btn-outline-success" th:href="@{/record}">독서 기록</a>
            </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/login}">Sign In</a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" th:href="@{/sign-up}">Sign Up</a>
            </li>
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">

                    <svg th:if="${#strings.isEmpty(member?.profile?.image)}"
                         th:data-jdenticon-value="${#authentication.name}" width="24" height="24" class="rounded border bg-light"></svg><!--"프로필" 대신 아바타 이미지를 보여줌-->
                    <img th:if="${!#strings.isEmpty(member?.profile?.image)}"
                         th:src="${member.profile.image}" width="24" height="24" class="rounded border"/>

                </a>
                <ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="userDropdown">
                    <h6 class="dropdown-header">
                        <span class="text-dark" sec:authentication="name">Username</span>
                    </h6>
                    <li><a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a></li>
                    <div class="container-fluid">
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div th:fragment="setting-menu (currentMenu)" class="list-group">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'} ? 'active list-group-item-dark'"
       href="#" th:href="@{/settings/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'} ? 'active list-group-item-dark'"
       href="#" th:href="@{/settings/password}">비밀번호</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'favorite'} ? 'active list-group-item-dark'"
       href="#" th:href="@{/settings/tags}">관심 주제</a>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

