<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment::head"></head>
<body class="bg-light">

<div th:replace="fragment::navigation-bar"></div>

<div class="container">
    <div class="py-5 text-center">
        <h2>BookTrace</h2>
    </div>

    <div th:replace="fragment::footer"></div>
</div>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="application/javascript">
    (function () {

    }())
</script>

</body>
</html>