<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment::head"></head>
<body class="bg-light">

<div th:replace="fragment::navigation-bar"></div>

<div class="alert alert-warning" role="alert" th:if="${member != null && !member.isValid()}">
    BookTrace 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>

<div class="container">
    <div class="py-5 text-center">
        <h2>BookTrace</h2>
    </div>
    <div th:replace="fragment::footer"></div>
</div>

</body>
</html>